<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список автомобилей</title>
</head>
<body>
<h1>Список автомобилей</h1>

<table>
    <thead>
    <tr>
        <th>Модель</th>
        <th>Цвет</th>
        <th>Год</th>
    </tr>
    </thead>
    <tbody>

    <!-- Используем th:each для итерации по списку автомобилей -->
    <tr th:each="car : ${cars}">
        <td th:text="${car.model}">Модель</td>
        <td th:text="${car.colour}">Цвет</td>
        <td th:text="${car.year}">Год</td>
    </tr>

    </tbody>
</table>

</body>
</html>
